# dependencies
/node_modules/*

# misc
package-lock.json
yarn.lock

!/node_modules/react-calendar
/node_modules/react-calendar/*
!/node_modules/react-calendar/dist
/node_modules/react-calendar/dist/*
!/node_modules/react-calendar/dist/Calendar.css

