# dependencies
/node_modules/*

# misc
package-lock.json
yarn.lock

!/node_modules/react-calendar
/node_modules/react-calendar/*
!/node_modules/react-calendar/dist
/node_modules/react-calendar/dist/*
!/node_modules/react-calendar/dist/Calendar.css
!/node_modules/react-calendar/dist/esm/
/node_modules/react-calendar/dist/esm/*
!/node_modules/react-calendar/dist/esm/MonthView/
/node_modules/react-calendar/dist/esm/MonthView/*
!/node_modules/react-calendar/dist/esm/MonthView/day.js

