/* #diaryList .content {
    
} */
#calendar .content {
    width: 90%;
    height: auto;
    border: solid 2px white;
    margin: auto;
}
#calendar .content .title {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

#calendar .content .calendar-div {
    padding: 5% 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #dbcbbe;
}
#calendar .content .calendar.left {
    display: flex;
    justify-content: center;
    width: 20vw;
    background-color: #b0988e;
}
#calendar .content .calendar.left .title {
    font-size: 20px;
    font-family: 'Gugi', cursive;
    color: white;
    padding-top: 20px;
}
#calendar .content .calendar.right {
    width: 70%;
    box-sizing: revert;
}
