#diaryList {
  justify-content: center;
  display: flex;
}

/* content */
#diaryList .content {
  width: 90%;
  height: auto;
  border: solid 2px white;
  margin: auto;
}
#diaryList .content .title{
  text-align: center;
  margin-top:20px;
}

#diaryList .wordCloud{
  /* padding: 3%; */
  margin-top: 5%;
  padding-top: 10vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  background: url('/image/speech-bubble.png');
  background-position-x: center;
  background-size: 70vh;
  background-repeat: no-repeat;
  height: 20vh;
  
  /* background-image: url('../../public/image/speech-bubble.png'); */
}
#diaryList .wordCloud.false{
  display: none;
}
#diaryList .wordCloud .word_cloud{
  width: auto;
  height: 30vh;
  padding: 10px;
  
}
#diaryList .book{
  display: flex;
  justify-content: center;
  width: 18vw;
  min-width: 200px;
  height: 350px;
  margin: 25px 25px;
  margin-bottom: 30px;
  margin-top: 20px;


}
#diaryList .book .book_cover{
  height:350px;
  width: 18vw;
  min-width: 200px;
  margin: 25px 50px;
  padding: 25px 25px;
  text-align: center;
  border: 2px solid #b0988e;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #b0988e;
  margin-top: 0%;
  cursor: pointer;

}
.slick-track{
  width:60% !important;
  display: inline-flex;
  
}
.slick-list{
  height: auto;
  margin: 3%;
  margin-top: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#diaryList .slick-list .slick-track .slick-slide.slick-active.slick-center .book_cover{
  border: #abded7 2px solid;
  box-shadow: 5px 5px 5px #abded7;

}
/* .word_cloud{
  visibility: hidden;
} */
#diaryList .book .book_cover .bookTitle{
  font-size: 20px;
  font-weight: bold;
  color: #b0988e;
}
#diaryList .book .book_cover .bookContent{
  color: #b0988e;
}
#diaryList .btnDiv{
  display: flex;
  justify-content: center;
}
#diaryList .btnDiv .viewBtn{
  width: 30%;
  height: 40px;
  border: none;
  background-color: #b0988e;
  margin-bottom: 20px;
  /* font-weight: bold; */
  color: white;
  font-family: 'Gugi',cursive;
}
.modal-content {
  /* max-height: 800px; */
  height: 80vh;
  width: 50vw;
}
.modal-body {
  padding-top: 20px;
  text-align: center;
  overflow-y: scroll;
  max-height: auto;
}