#diaryList {
  height: 80vh;
  display: contents;
  justify-content: center;
  padding: 5%;
  /* background-color: #ffcccc; */

}
#diaryList .wordCloud{
  /* padding: 3%; */
  margin-top: 5%;
  padding-top: 10vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  background: url('/image/speech-bubble.png');
  background-position-x: center;
  background-size: 70vh;
  background-repeat: no-repeat;
  height: 50vh;
  
  /* background-image: url('../../public/image/speech-bubble.png'); */
}
#diaryList .wordCloud.false{
  display: none;
}
#diaryList .wordCloud .word_cloud{
  width: auto;
  height: 30vh;
  padding: 10px;
  
}
#diaryList .book{
  display: flex;
  justify-content: center;
  width: 30vw;
  height: 350px;
  /* margin: 25px 25px; */
  margin-bottom: 30px;
  margin-top: 20px;


}
#diaryList .book .book_cover{
  height:350px;
  width: 30vw;
  margin: 25px 25px;
  padding: 25px 25px;
  text-align: center;
  border: 2px solid #b0988e;
  background-color: white;
  border-radius: 25px;
  margin-top: 0%;

}
.slick-track{
  width:80% !important;
  display: inline-flex;
  
}
.slick-list{
  height: auto;
  margin: 3%;
  margin-top: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* .word_cloud{
  visibility: hidden;
} */
#diaryList .book .book_cover .bookTitle{
  font-size: 20px;
  font-weight: bold;
  color: #b0988e;
}
#diaryList .book .book_cover .bookContent{
  color: #b0988e;
}
#diaryList .btnDiv{
  display: flex;
  justify-content: center;
}
#diaryList .btnDiv .viewBtn{
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 13px;
  background-color: #b0988e;
  margin-bottom: 20px;
  /* font-weight: bold; */
  color: white;
  font-family: 'Gugi',cursive;
}
.modal-content {
  /* max-height: 800px; */
  height: 80vh;
  width: 50vw;
}
.modal-body {
  padding-top: 20px;
  text-align: center;
  overflow-y: scroll;
  max-height: auto;
}