@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

#main {
    justify-content: center;
    /* background-color: #ffcccc; */
}

/* main .content */
#main .content {
    justify-content: center;
}

#main .content .title {
  font-size: 35px;
  font-family: 'Gugi', cursive;
  color: #B0988E;
}

#main .content button {
    margin-top: 2%;
    background-color: white;
    border: none;
    width: 30%;
    height: 39px;
    border-radius: 13px;
    font-family: 'Gugi', cursive;
}
